/* Police globale */
body {
    background: #fff;
    color: #111;
    margin: 0;
    padding: 0;

    /* Police ultra lisible */
    font-family: "Inter", Arial, sans-serif;

    /* Graisse idéale pour lecture */
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
}

/* Surbrillance jaune LayerForge */
::selection {
    background: #ffcc00 !important;
    color: #000 !important;
}

::-moz-selection {
    background: #ffcc00 !important;
    color: #000 !important;
}

/* SIDEBAR sombre */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background: #111;
    padding: 180px 20px 20px 20px;
    border-right: 3px solid #444;
    z-index: 10;
}

.sidebar a {
    display: block;
    padding: 10px 0;
    color: #ffcc00;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
}



/* HEADER sombre */
.header-custom {
    position: relative;
    top: 0;
    left: 240px;
    right: 0;
    background: #0f0f0f;
    border-bottom: 3px solid #444;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    z-index: 20;
}

.header-inner img {
    height: 150px;
    width: auto;
}

.header-inner h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

/* CONTENU blanc centré */
.page-content {
    max-width: 900px;
    margin: 120px auto 40px 240px;
    padding: 40px 60px;
    background: #fff;
    color: #111;
    min-height: calc(100vh - 120px);
    border-radius: 6px;
}
